#pagination {
  display: flex;
  justify-content: space-evenly;
}

p {
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #333;
  border: 2px solid #333;
  text-align: center;
  position: relative;
  transition: all .35s;
  overflow: hidden;
}

p span {
  position: relative;
  z-index: 2;
}

p:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #e34b67f1;
  transition: all .35s;
}

p:hover {
  color: #fff;
}

p:hover:after {
  width: 100%;
}
