<nav>
  <li><img id="logo_app" (click)="goToHomePage()" src="assets/img/logo.png" alt="Logo"></li>
  <li id="search-cat"><button (click)="toggleCategorySearchForm()">Rechercher des catégories</button></li>
  <li><img id="icon" (click)="toggleCategoryCreateForm()" src="assets/img/add_category.png" alt="Ajouter une catégorie"></li>
</nav>

<app-form-create-category *ngIf="isCreateOpen" (added)="updateListCategories()" (closeForm)="toggleCategoryCreateForm()"></app-form-create-category>
<app-form-search-category *ngIf="isSearchOpen" (searchResponse)="gainedResponse($event)" (closeForm)="toggleCategorySearchForm()"></app-form-search-category>
